<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{../../static/js/jquery.js}"></script>
    <title>detail</title>
</head>
<body>
  <table>
    <tr>
      <th>회원번호</th>
      <td th:text="${member.id}"></td>
    <tr>
      <th>이메일</th>
    <td th:text="${member.memberEmail}"></td>
    </tr>
    <tr>
      <th>비밀번호</th>
      <td th:text="${member.memberPassword}"></td>
    </tr>
    <tr>
      <th>이름</th>
      <td th:text="${member.memberName}"></td>
    </tr>
    <tr>
      <th>나이</th>
      <td th:text="${member.memberAge}"></td>
    </tr>
    <tr>
      <th>전화번호</th>
      <td th:text="${member.memberPhone}"></td>
    </tr>
  </table>
  <p th:if="${member.memberEmail == session.loginEmail}">
    <button onclick="memberUpdate()">회원정보수정</button>
  </p>
  <button th:onclick="memberDelete([[${member.id}]])">회원탈퇴(삭제)</button>
  <button th:onclick="ajaxDelete([[${member.id}]])">ajax-회원탈퇴(삭제)</button>

</body>
<script th:inline="javascript">
  const memberUpdate = () => {
    const id = '[[${session.loginId}]]';
    if (id != '') {
      location.href = "/member/update/" + id;
    } else {
      alert("로그인 후 정보수정 가능합니다.");
    }
  }

  const memberDelete = (id) => {
    location.href = "/member/delete/" + id;
  }

  const ajaxDelete = (id) => {
    $.ajax({
      type: 'delete',
      url: '/member/' + id,
      // dataType: 'text',
      success: function () {  // status code = 200
        alert('삭제 했어요');
        location.href = '/member/';
      },
      err: function () {
        alert('에러');
      }
    })
  }
</script>
</html>